.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;

  > div {
    margin: 0 .25em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
