.container {
  width: 100%;

  .textBox {
    -webkit-app-region: none;
    transition: 0.25s all ease-in-out;
    background-color: #FFFFFF0D;
    border: 1px solid #ffffff26;
    color: #FFF;
    border-radius: 5px;
    padding: 0 10px;
    font-weight: 600;
    font-size: 16px;
    width: calc(100% - 20px);
    height: 34px;

    &:hover,
    &:focus {
      border-color: #ffffff40;
      background-color: #ffffff1a;
    }

    &:focus {
      box-shadow: 0 0 7px 0 rgba(153, 108, 241, 0.6),
      0 15px 20px 0 rgba(0, 0, 0, 0.2);
      border: 1px solid #996cf1;
      outline: none;
    }

    &::placeholder {
      color: #ffffff80;
      font-weight: normal;

    }
  }

  .title {
    text-transform: uppercase;
    color: #fffc;
    font-size: 0.8em;
    font-weight: 600;
    margin-bottom: 0.25em;

    &:empty {
      display: none;
    }
  }
}

