/* Containers */
.settings {
  height: auto;
  margin: auto;

  .updateInfo {
    display: flex;
    margin-bottom: 3em;

    .updateOptions {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 0 0.5em 0.5em;
    }
  }

  .section {
    margin-bottom: 2em;

    .row {
      margin-top: 0.5em;
      display: flex;
      width: 41em;
      justify-content: space-between;
    }
  }
}

/* Text Styles */
p {
  margin: 0;
}

h1 {
  font-size: 1.25em;
  font-weight: bold;
  margin: 0;
}

.subtitle {
  color: #bab8bd;
  font-weight: normal;
  font-size: 0.7em;
}

.textButton {
  color: #8cc7f7;
  font-weight: 600;
  font-size: 0.75em;
  transition: color 0.5s;
  cursor: pointer;

  &:hover {
    color: #c7e6ff;
  }
}

/* Input Style */
.input {
  width: 20em;
  margin-bottom: 0.5em;
}

/* Images */
.logo {
  width: 4em;
  height: 3.75em;
}
